Faker==37.0.2
gender-guesser==0.4.0
Levenshtein==0.27.1
python-Levenshtein==0.27.1
RapidFuzz==3.12.2
matplotlib==3.10.3
numpy==2.2.4
pandas==2.2.3
prettytable==3.16.0
-e git+ssh://git@github.com/marginalprog/fuzzy-matching@ced429f451d7b3b5aceebbb728b3fe3dde78f065#egg=fuzzy_matching